<a href="https://colab.research.google.com/github/HFOURM/PraktikumBigData/blob/main/Hands_On_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pengenalan Spark DataFrames

Tugas 1 : Buat DataFrame sederhana di Spark dan eksplorasi beberapa fungsi dasar yang tersedia.

In [50]:
# Contoh membuat DataFtame Sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michale', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Departement', 'Salary']

df = spark.createDataFrame(data, schema=colums)
df.show()

+------------+-----------+------+
|EmployeeName|Departement|Salary|
+------------+-----------+------+
|       James|      Sales|  3000|
|     Michale|      Sales|  4600|
|      Robert|      Sales|  4100|
|       Maria|    Finance|  3000|
+------------+-----------+------+

In [52]:
# Tugas 1
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('TugasMembuatDataFrame').getOrCreate()

data = [('P001', 'Laptop','Elektronik', 14000000),
        ('P002', 'Mouse','Elektronik', 250000),
        ('P003', 'Headset','Elektronik', 200000)]
columns = ['kode_produk', 'nama_produk', 'kategori', 'harga']

df = spark.createDataFrame(data, schema=columns)
df.show()

+-----------+-----------+----------+--------+
|kode_produk|nama_produk|  kategori|   harga|
+-----------+-----------+----------+--------+
|       P001|     Laptop|Elektronik|14000000|
|       P002|      Mouse|Elektronik|  250000|
|       P003|    Headset|Elektronik|  200000|
+-----------+-----------+----------+--------+

# Transformasi Dasar dengan DataFrames

Tugas 2 : Gunakan operasi filter, select, groupBy untuk mengekstrak informasi dari data, serta lakukan agregasi data untuk mendapatkan insight tentang dataset menggunakan perintah seperti mean, max, sum.

In [51]:
# Contoh operasi transformasi DataFrame
df.select('EmployeeName', 'Salary').show()
df.filter(df['Salary'] > 3000).show()
df.groupBy('Departement').avg('Salary').show()

+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michale|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

+------------+-----------+------+
|EmployeeName|Departement|Salary|
+------------+-----------+------+
|     Michale|      Sales|  4600|
|      Robert|      Sales|  4100|
+------------+-----------+------+

+-----------+-----------+
|Departement|avg(Salary)|
+-----------+-----------+
|      Sales|     3900.0|
|    Finance|     3000.0|
+-----------+-----------+

In [53]:
# Tugas 2
df.select('nama_produk', 'harga').show() # Menampilkan data nama_produk dan harga
df.groupBy().mean('harga').show() # Menampilkan rata-rata harga
df.groupBy().max('harga').show() # Menampilkan harga tertinggi
df.groupBy().min('harga').show() # Menampilkan harga terendah
df.groupBy().sum('harga').show() # Menampilkan total harga

+-----------+--------+
|nama_produk|   harga|
+-----------+--------+
|     Laptop|14000000|
|      Mouse|  250000|
|    Headset|  200000|
+-----------+--------+

+-----------------+
|       avg(harga)|
+-----------------+
|4816666.666666667|
+-----------------+

+----------+
|max(harga)|
+----------+
|  14000000|
+----------+

+----------+
|min(harga)|
+----------+
|    200000|
+----------+

+----------+
|sum(harga)|
+----------+
|  14450000|
+----------+

# Bekerja dengan Tipe Data Kompleks

Tugas 3 : Eksporasi bagaimana mengolah tipe data kompleks dalam Spark DataFrames.

In [28]:
# Contoh manipulasi tipe data kompleks
df = df.withColumn('SalaryBonus', df['Salary'] * 0.1)
df = df.withColumn('TotalCompensaation', df['Salary'] + df['SalaryBonus'])

df.show()

+------------+-----------+------+-----------+------------------+
|EmployeeName|Departement|Salary|SalaryBonus|TotalCompensaation|
+------------+-----------+------+-----------+------------------+
|       James|      Sales|  3000|      300.0|            3300.0|
|     Michale|      Sales|  4600|      460.0|            5060.0|
|      Robert|      Sales|  4100|      410.0|            4510.0|
|       Maria|    Finance|  3000|      300.0|            3300.0|
+------------+-----------+------+-----------+------------------+

In [54]:
# Tugas 3
df.withColumn('diskon', df['harga'] * 0.2).show() # Menambahkan kolom dengan nama diskon
df.withColumn('harga', df['harga'] + 100000).show() # Mengubah nilai harga

+-----------+-----------+----------+--------+---------+
|kode_produk|nama_produk|  kategori|   harga|   diskon|
+-----------+-----------+----------+--------+---------+
|       P001|     Laptop|Elektronik|14000000|2800000.0|
|       P002|      Mouse|Elektronik|  250000|  50000.0|
|       P003|    Headset|Elektronik|  200000|  40000.0|
+-----------+-----------+----------+--------+---------+

+-----------+-----------+----------+--------+
|kode_produk|nama_produk|  kategori|   harga|
+-----------+-----------+----------+--------+
|       P001|     Laptop|Elektronik|14100000|
|       P002|      Mouse|Elektronik|  350000|
|       P003|    Headset|Elektronik|  300000|
+-----------+-----------+----------+--------+

# Operasi Data Lanjutan

Tugas 4 : Implementasi windows fuction untuk menghitung running totals atau rangkings

In [29]:
# Contoh menggunakan window functions
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Departement').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+------------+-----------+------+-----------+------------------+----+
|EmployeeName|Departement|Salary|SalaryBonus|TotalCompensaation|Rank|
+------------+-----------+------+-----------+------------------+----+
|       Maria|    Finance|  3000|      300.0|            3300.0|   1|
|       James|      Sales|  3000|      300.0|            3300.0|   1|
|      Robert|      Sales|  4100|      410.0|            4510.0|   2|
|     Michale|      Sales|  4600|      460.0|            5060.0|   3|
+------------+-----------+------+-----------+------------------+----+

In [55]:
# Tugas 4
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('kategori').orderBy('harga')
df.withColumn('ranking', F.rank().over(windowSpec)).show()

+-----------+-----------+----------+--------+-------+
|kode_produk|nama_produk|  kategori|   harga|ranking|
+-----------+-----------+----------+--------+-------+
|       P003|    Headset|Elektronik|  200000|      1|
|       P002|      Mouse|Elektronik|  250000|      2|
|       P001|     Laptop|Elektronik|14000000|      3|
+-----------+-----------+----------+--------+-------+

# Eksplorasi Lebih Lanjut

Tugas 5 :


*   Unduh dataset besar dari Kaggle.
*   Input data csv yang telah di download, kemudian load dan simpan data ke dalam pyspark.
*   Setelah data berhasil di load menggunakan pyspark, lakukan manipulasi data untuk memperoleh informasi yang dibutuhkan

In [66]:
# Tugas 5
from google.colab import files
import_files = files.upload()

from pyspark.sql import SparkSession
from pyspark.sql.window import Window

spark = SparkSession.builder.appName('AnalisaDataPenjualanMobil').getOrCreate()
windowSpec = Window.partitionBy('Manufacturer').orderBy('Price')
df = spark.read.csv('car_sales_data.csv', header=True, inferSchema=True)
df.show()

df.select('Model','Fuel type','Year of manufacture','Price').show() # Menampilkan data yang diminta
df.filter(df['Year of manufacture'] > 2010).show() # Menampilakn data mobil dengan tahun di atas
df.withColumn('Rank', F.rank().over(windowSpec)).show() # Mengurutkan data  berdasarkan yang diminta

Saving car_sales_data.csv to car_sales_data (10).csv
+------------+----------+-----------+---------+-------------------+-------+-----+
|Manufacturer|     Model|Engine size|Fuel type|Year of manufacture|Mileage|Price|
+------------+----------+-----------+---------+-------------------+-------+-----+
|        Ford|    Fiesta|        1.0|   Petrol|               2002| 127300| 3074|
|     Porsche|718 Cayman|        4.0|   Petrol|               2016|  57850|49704|
|        Ford|    Mondeo|        1.6|   Diesel|               2014|  39190|24072|
|      Toyota|      RAV4|        1.8|   Hybrid|               1988| 210814| 1705|
|          VW|      Polo|        1.0|   Petrol|               2006| 127869| 4101|
|        Ford|     Focus|        1.4|   Petrol|               2018|  33603|29204|
|        Ford|    Mondeo|        1.8|   Diesel|               2010|  86686|14350|
|      Toyota|     Prius|        1.4|   Hybrid|               2015|  30663|30297|
|          VW|      Polo|        1.2|   Petrol|               2012|  73470| 9977|
|        Ford|     Focus|        2.0|   Diesel|               1992| 262514| 1049|
|          VW|      Golf|        2.0|   Diesel|               2014|  83047|17173|
|         BMW|        Z4|        2.0|   Petrol|               1990| 293666|  719|
|          VW|      Golf|        1.2|   Diesel|               2007|  92697| 7792|
|      Toyota|      RAV4|        2.2|   Petrol|               2007|  79393|16026|
|      Toyota|     Yaris|        1.4|   Petrol|               1998|  97286| 4046|
|          VW|      Golf|        1.6|   Diesel|               1989| 222390|  933|
|      Toyota|      RAV4|        2.4|   Hybrid|               2003| 117425|11667|
|      Toyota|     Yaris|        1.2|   Petrol|               1992| 245990|  720|
|      Toyota|      RAV4|        2.0|   Hybrid|               2018|  28381|52671|
|          VW|      Polo|        1.2|   Petrol|               1998| 155038| 2118|
+------------+----------+-----------+---------+-------------------+-------+-----+
only showing top 20 rows

+----------+---------+-------------------+-----+
|     Model|Fuel type|Year of manufacture|Price|
+----------+---------+-------------------+-----+
|    Fiesta|   Petrol|               2002| 3074|
|718 Cayman|   Petrol|               2016|49704|
|    Mondeo|   Diesel|               2014|24072|
|      RAV4|   Hybrid|               1988| 1705|
|      Polo|   Petrol|               2006| 4101|
|     Focus|   Petrol|               2018|29204|
|    Mondeo|   Diesel|               2010|14350|
|     Prius|   Hybrid|               2015|30297|
|      Polo|   Petrol|               2012| 9977|
|     Focus|   Diesel|               1992| 1049|
|      Golf|   Diesel|               2014|17173|
|        Z4|   Petrol|               1990|  719|
|      Golf|   Diesel|               2007| 7792|
|      RAV4|   Petrol|               2007|16026|
|     Yaris|   Petrol|               1998| 4046|
|      Golf|   Diesel|               1989|  933|
|      RAV4|   Hybrid|               2003|11667|
|     Yaris|   Petrol|               1992|  720|
|      RAV4|   Hybrid|               2018|52671|
|      Polo|   Petrol|               1998| 2118|
+----------+---------+-------------------+-----+
only showing top 20 rows

+------------+----------+-----------+---------+-------------------+-------+-----+
|Manufacturer|     Model|Engine size|Fuel type|Year of manufacture|Mileage|Price|
+------------+----------+-----------+---------+-------------------+-------+-----+
|     Porsche|718 Cayman|        4.0|   Petrol|               2016|  57850|49704|
|        Ford|    Mondeo|        1.6|   Diesel|               2014|  39190|24072|
|        Ford|     Focus|        1.4|   Petrol|               2018|  33603|29204|
|      Toyota|     Prius|        1.4|   Hybrid|               2015|  30663|30297|
|          VW|      Polo|        1.2|   Petrol|               2012|  73470| 9977|
|          VW|      Golf|        2.0|   Diesel|               2014|  83047|17173|
|      Toyota|      RAV4|        2.0|   Hybrid|               2018|  28381|52671|
|      Toyota|     Prius|        1.8|   Hybrid|               2017|  31958|38961|
|          VW|      Golf|        2.0|   Petrol|               2020|  18985|36387|
|          VW|      Polo|        1.6|   Petrol|               2016|  52409|17257|
|         BMW|        M5|        4.0|   Petrol|               2017|  22759|97758|
|        Ford|    Fiesta|        1.4|   Petrol|               2014|  41495|14721|
|        Ford|    Fiesta|        1.0|   Diesel|               2017|  38370|16257|
|      Toyota|      RAV4|        2.4|   Petrol|               2018|  24588|49125|
|     Porsche|   Cayenne|        2.6|   Diesel|               2015|  33693|54037|
|          VW|      Golf|        2.0|   Hybrid|               2018|  25017|36957|
|      Toyota|     Prius|        1.4|   Hybrid|               2016|  43893|29946|
|      Toyota|     Prius|        1.4|   Hybrid|               2016|  43130|30085|
|          VW|    Passat|        1.6|   Petrol|               2016|  64344|23641|
|     Porsche|718 Cayman|        2.4|   Petrol|               2021|  14070|69526|
+------------+----------+-----------+---------+-------------------+-------+-----+
only showing top 20 rows

+------------+-----+-----------+---------+-------------------+-------+-----+----+
|Manufacturer|Model|Engine size|Fuel type|Year of manufacture|Mileage|Price|Rank|
+------------+-----+-----------+---------+-------------------+-------+-----+----+
|         BMW|   X3|        3.0|   Diesel|               1986| 446897|  167|   1|
|         BMW|   X3|        2.4|   Diesel|               1984| 386079|  238|   2|
|         BMW|   Z4|        2.4|   Petrol|               1989| 402743|  256|   3|
|         BMW|   X3|        2.0|   Diesel|               1986| 376756|  272|   4|
|         BMW|   Z4|        2.0|   Petrol|               1986| 354685|  306|   5|
|         BMW|   Z4|        2.4|   Petrol|               1989| 384283|  307|   6|
|         BMW|   M5|        5.0|   Petrol|               1986| 453537|  331|   7|
|         BMW|   X3|        2.4|   Diesel|               1985| 358616|  333|   8|
|         BMW|   Z4|        2.2|   Petrol|               1985| 343144|  336|   9|
|         BMW|   Z4|        2.0|   Petrol|               1988| 339324|  406|  10|
|         BMW|   Z4|        3.0|   Petrol|               1986| 340947|  429|  11|
|         BMW|   M5|        5.0|   Petrol|               1988| 434923|  454|  12|
|         BMW|   X3|        2.4|   Diesel|               1987| 332089|  492|  13|
|         BMW|   X3|        3.0|   Diesel|               1984| 322154|  496|  14|
|         BMW|   X3|        2.4|   Diesel|               1991| 357972|  500|  15|
|         BMW|   X3|        2.4|   Diesel|               1988| 331751|  528|  16|
|         BMW|   X3|        3.0|   Diesel|               1987| 336246|  529|  17|
|         BMW|   Z4|        2.2|   Petrol|               1988| 315308|  537|  18|
|         BMW|   X3|        2.0|   Diesel|               1985| 292571|  574|  19|
|         BMW|   X3|        2.0|   Diesel|               1985| 291955|  578|  20|
+------------+-----+-----------+---------+-------------------+-------+-----+----+
only showing top 20 rows